h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
}

.nav {
  text-align: center;
}
.navbar-custom {
  background-color: #008cbf;
  color: #ffffff;
  border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
  text-decoration: none;
  background-color: #45bce8;
}

.navbar-custom .navbar-brand {
  color: #eeeeee;
}
.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}
.navbar-custom .icon-bar {
  background-color: #45bce8;
}
.school {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.actions a {
  color: inherit;
}

.home img {
  width: 500px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type=text],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ffff00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=radio],
input.radio {
  clear: none;
  margin: 20px 14px;
  padding: 5px 5px;
}

input[type=submit]:hover {
  background-color: #ffff66;
}
.help-block {
  font-size: 0.5em;
  color: red;
}

.submitSucceed {
  font-size: 1em;
  color: orange;
}
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btn-info {
  margin-top: 0.6em;
}

.googleMap {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.result-empty {
  margin-top: 3em;
  font-size: 1em;
}

.profile__school-title {
  text-align: center;
}

.main-title {
  font-size: 40px;
}

.secondary-info {
  margin: 1.2em;
}

.profile__school-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
}

.profile__school-list-item {
 padding-right: 20px;
 margin-bottom: 20px;

}

.profile__school-list div {
  display: block;
}

.profile__school-list-label {
  margin-bottom: 5px;
}

.profile__school-list-value {
  font-size: 20px;
  font-weight: bold;
}

.border-bottom {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #c7c7c7;
}